<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/restaurantMenu.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    
    <title>Document</title>
</head>
<body>
    <div class="main-container">
        <div class="main-container-wrapper">
            <div class="header-container">
                <div class="location">
                    <p>Home </p>
                    <span>/</span>
                    <p> Kolkata </p>
                    <span>/</span>
                    <p> Restaurant </p>
                </div>
            </div>
            <div class="header-content-container">
                <div class="header-content-container-wrapper">
                    <div class="header-content">
                        <p class="restro-name">Restaurant Name</p>
                        <p class="cuisine">Cuisines</p>
                        <p class="cuisine">Address</p>
                    </div>
                    <div class="header-rating">
                        <p class="rating"><b>* 4.3</b></p>
                        <hr>
                        <p class="rating-count">1k+ratings</p>
                    </div>
                </div>
                <div class="delivery-fee">
                    <img src="../images/Delivery_fee_logo.avif" alt="delivery-logo">
                    <p>3 kms | ₹43 Delivery fee will apply</p>
                </div>
                <hr class="doted-hr">
                <div class="delivery-time-rate-containor">
                    <div class="time-div">
                        <img src="" alt="">
                        <p><b>40-45 MINS</b></p>
                    </div>
                    <div class="cost-div">
                        <img src="" alt="">
                        <p><b>₹300 for two</b></p>
                    </div>
                </div>
                <hr class="doted-hr">
            </div>
            <div class="menulist-container">
                <button>
                    <h3>Recommended <span>(15)</span></h3>
                    <img src="../images/Down-Arrow.png" alt="down-pointer-logo" width="20px" height="20px">
                </button>
            </div>
            <div class="menulist-item-container">
                <div class="menulist-item-inner-container">
                    <div class="menulist-item-inner-container2">
                        <div>
                            <img src="../images/Non-Veg-Logo.png" alt="" height="40px" width="40px">
                        </div>
                        <p class="item-name"><b>Item Name</b></p>
                        <p>₹ <span>300</span></p>
                        <p>discription</p>
                    </div>
                    <div class="menulist-item-image">
                        <img src="../images/Item.avif" alt="Item-image">
                    </div>
                </div>
            </div>
            <div class="space"></div>
        </div>
        
    </div>
</body>
</html>